.map {
  display: flex;
  background-color: rgb(var(--color-background));
}

.map-block-bottom-content {
  display: flex;
}

.map-block-map-style {
  position: relative;
}

.map-block-map-style-jump {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  display: block !important;
  width: 100%;
  height: 100%;
}

.map-block-map-style-mask {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  width: 100%;
  height: 100%;
}

.map-block__image {
  position: relative;
  display: flex;
}

.map-block__image > img {
  inset-inline: 0;
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.map-block__image .hover-scale__image {
  width: 100%;
}

.map-block__image .empty-image-class {
  display: block;
  max-width: 100%;
  background-color: rgb(var(--color-image-background));
}

.map-block__image-pc > img {
  position: absolute;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
}

.map-block__image-pc .empty-image-class {
  position: absolute;
  inset-block-start: 0;
  width: 100%;
  height: 100%;
}

.map-block-text-bottom {
  display: flex;
}

.map-block-text-content {
  display: flex;
  background-color: rgb(var(--color-background));
}

.map-block-custom-btn a svg {
  margin-inline-end: 10px;
}

.map-block-custom-btn .button--link {
  text-decoration: none !important;
  border-block-end: 1px solid;
  border-radius: 0;
}

.map-block-button-group {
  display: flex;
}
