{{#switch props.icon }}
  {{#case "pay" /}}
    {{#component "icons/pay" /}}
  {{#case "package" /}}
    {{#component "icons/package" /}}
  {{#case "email" /}}
    {{#component "icons/email" /}}
  {{#case "position" /}}
    {{#component "icons/position" /}}
  {{#case "customer" /}}
    {{#component "icons/customer" /}}
  {{#case "chat" /}}
    {{#component "icons/chat" /}}
  {{#case "gift" /}}
    {{#component "icons/gift" /}}
  {{#case "phone" /}}
    {{#component "icons/phone" /}}
  {{#case "faq" /}}
    {{#component "icons/faq" /}}
  {{#case "logistics" /}}
    {{#component "icons/logistics" /}}
  {{#case "discount" /}}
    {{#component "icons/discount" /}}
{{/switch}}
