{{#component "script" src="product/form.js" | asset_url() /}}

{{#var block = props.block /}}
{{#var product = props.product /}}
{{#var current_variant = props.current_variant /}}
{{#var button_position = block.settings.button_position | default("embed") /}}

{{#capture content }}
  <div class="product-detail__buy-buttons" {{{ block.shopline_attributes }}}>
    {{#if product }}
      <theme-product-form data-use-error-toast="false">
        {{#product_form product id="product-form-" | append(section.id) class="product-detail__form" }}
          <input type="hidden" name="id" value="{{ current_variant.id }}"/>
          <input type="hidden" required name="quantity" value="1"/>

          <div class="form__error-message body6 hidden">
            {{#component "icons/warning" /}}
          </div>

          <div class="form__buttons">
            <button
              type="submit"
              name="add"
              class="button button--fill button--secondary"
              {{#if !current_variant.available }}disabled{{/if}}
            >
              <span>
                {{#if !current_variant || current_variant.available }}
                  {{ "products.product_list.add_to_cart" | t() }}
                {{#else/}}
                  {{ "products.general.sold_out" | t() }}
                {{/if}}
              </span>

              {{#component "icons/loading" class="button__spinner" /}}
            </button>

            {{#payment_button/}}
          </div>
        {{/product_form}}
      </theme-product-form>
    {{#else/}}
      <button class="button button--fill button--secondary" type="button" disabled>
        {{ "products.general.sold_out" | t() }}
      </button>
    {{/if}}
  </div>
{{/capture}}

{{#switch button_position }}
  {{#case "embed" /}}
    {{{ content }}}
  {{#else/}}
    {{#component "script" src="product/sticky-position.js" | asset_url() /}}
    <theme-sticky-position
      data-placeholder-class="hidden-desktop"
      data-enforce="{{ button_position == "float" }}"
      data-increase-height="40"
    >
      {{{ content }}}
    </theme-sticky-position>
{{/switch}}
