.count-down__image {
  position: relative;
  display: flex;
  flex-shrink: 0;
}

.count-down__image > img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

@media (min-width: 960px) {
  .count-down__image > img {
    border-radius: 12px;
  }
}

@media (max-width: 959px) {
  .count-down__image > img {
    border-radius: 6px;
  }
}

.count-down__image .hover-scale__image {
  width: 100%;
}

.count-down__image .empty-image-class {
  display: block;
  width: 473px;
  max-width: 100%;
  background-color: rgb(var(--color-image-background));
}
