<svg
  class="icon {{ props.class }}"
  width="29"
  height="29"
  viewBox="0 0 29 29"
  fill="currentColor"
  xmlns="http://www.w3.org/2000/svg"
>
  <g clip-path="url(#clip0_37161_69108)">
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M10.6486 12.0562L14.6988 16.1064L18.7491 12.0562L19.8097 13.1168L14.6988 18.2277L9.58789 13.1168L10.6486 12.0562Z"
      fill="currentColor"
    />
    <circle opacity="0.1" cx="14.75" cy="14.667" r="13.5" stroke="currentColor"/>
  </g>
  <defs>
    <clipPath id="clip0_37161_69108">
      <rect width="28" height="28" fill="white" transform="translate(0.75 0.666992)"/>
    </clipPath>
  </defs>
</svg>
